* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('Capa1.png');
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    position: relative;
}

header {
    background-color: #00000000;
    color: #000000;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

nav .logo {
    height: 70px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.search-container input[type="text"] {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    padding-right: 30px;
}

.search-container .fa-search {
    position: absolute;
    right: 10px;
    color: #ffffff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 25%;
    height: 100%;
    position: relative;
    margin-left: -75%;
}

.promo .left {
    text-align: left;
    color: #ffffff;
    margin-right: auto;
    padding-right: 2rem;
}

.promo .left h1 {
    font-size: 72px; 
}

.promo .left h5 {
    font-size: 38px;
}

.promo .left a {
    text-decoration: none;
}

.promo .left button {
    background-color: #1b1464;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    font-size: 18px; 
    margin-top: 1rem;
}

.promo .center { 
    position: absolute; 
    top: 50%; 
    right: 10%; 
    transform: translateY(-50%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.promo .center .pepsi-can { 
    max-width: 100%; 
}
